/node_modules
/.pnp
.pnp.js

/coverage

/build
/dist

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
electron-builder.yml
fotaka-management-312922-68164bc552ee.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
